@import "primeng/resources/themes/lara-light-blue/theme.css";
@import "primeng/resources/primeng.css";
@import "primeicons/primeicons.css";
@import "primeflex/primeflex.css";

body {
  font-family: var(--font-family);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
  padding: 0;
  background-color: var(--surface-ground);
  color: var(--text-color);
}

.p-fluid .p-field {
  margin-bottom: 1rem;
}

.card {
  background: var(--surface-card);
  padding: 2rem;
  border-radius: var(--border-radius);
  margin-bottom: 1rem;
}
